.header{
    background-color: powderblue;
    padding: 20px 10px;
    color: #fabada;

    &__title{
        color: black;
        font-size: 30px;
        text-align: center;
    }
    &__text{
        text-align: center;
        font-size: 18px;
        color: rgb(65, 26, 209);
    }
}